textview text {
    background-color: white;
    color: black;
}

button#startbutton {
    background-color: rgb(172, 253, 125);
}

button#startbutton:hover {
    background-color: rgb(162, 235, 121);
}

button#startbutton:disabled {
    background-color: rgb(255, 184, 152);
}

checkbutton:hover {
    background-color: rgb(192, 192, 192);
}

radiobutton:hover {
    background-color: rgb(192, 192, 192);
}

progressbar progress {
    background-color: rgb(100, 197, 100);
}

label#spider_info_label {
    color: black;
    background-color: rgb(193, 255, 174);
}

label#spider_info_label:disabled {
    color: black;
    background-color: rgb(255, 174, 174);
}

label {
    color: black;
}

label:disabled {
    color: rgb(80, 80, 80);
}